In [2]:
import pandas as pd
import numpy as np

In [3]:
filepath = './HeroesOfPymoli_Resources_purchase_data.csv'

In [4]:
df = pd.read_csv(filepath,encoding="ISO-8859-1")

In [5]:
#preview of DataFrame
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [8]:
#identify complete rows
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [9]:
#review the column types
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [10]:
#change item id from Int64 to float64
df['Item ID'] = pd.to_numeric(df['Item ID'], downcast= 'float')
df['Purchase ID'] =pd.to_numeric(df['Purchase ID'], downcast= 'float')

df.dtypes

Purchase ID    float32
SN              object
Age              int64
Gender          object
Item ID        float32
Item Name       object
Price          float64
dtype: object

In [11]:
print('--------------')
print('Total Player Count')
print('--------------')
playercount =df['SN'].nunique()
playercount

--------------
Total Player Count
--------------

576

In [13]:
print('--------------')
print('Purchasing Analysis (Total)')
print('--------------')

pd.options.display.float_format = '{:,.2f}'.format
numofuniqueitems_df = round(df['Item Name'].nunique(),1)
#I know there is 2 item ids for 1 item , which I show later in the analysis. thus I used item name

avgpurchprice_df =round(df['Price'].mean(),1)
#avgpurchprice_df .rename(columns={'':'Average Purchase Price'})

ttlnumofpurchases_df = round(df['Purchase ID'].count(),1)
#ttlnumofpurchases_df.rename(columns={'': 'Total Number of Purchases'})

totalrev_df = round(df['Price'].sum(),1)
#totalrev_df.rename(columns={'': 'Total Revenue'})

#merge our data frames together
Purchasing_Analysis_df= pd.DataFrame({"Number of Unique Items": [numofuniqueitems_df], "Average Purchase Price":[avgpurchprice_df],"Total Number of Purchases": [ttlnumofpurchases_df],"Total Revenue":[totalrev_df]})
Purchasing_Analysis_df

--------------
Purchasing Analysis (Total)
--------------

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.10,780,"2,379.80"

In [14]:
#statistic summary on Gender and Age
print('--------------')
print('Gender and Age Statistics')
print('--------------')

df_statsbyGenderAge= round(df.groupby('Gender')['Age'].describe().reset_index(),0)
df_statsbyGenderAge

--------------
Gender and Age Statistics
--------------

                  Gender  count  mean  std   min   25%   50%   75%   max
0                 Female 113.00 21.00 6.00  7.00 18.00 21.00 24.00 40.00
1                   Male 652.00 23.00 7.00  7.00 20.00 22.00 25.00 45.00
2  Other / Non-Disclosed  15.00 24.00 8.00 15.00 18.00 21.00 30.00 38.00

In [16]:
#Gender demographics
print('--------------')
print('Gender Demographics')
print('--------------')
players = df.groupby('Gender')['SN'].nunique()

--------------
Gender Demographics
--------------

In [17]:
#to get the values for Gender Summary Table

print('Gender Demographics Summary:')
maleplayers_perc = ((players.iloc[1]/playercount)*100)
femaleplayers_perc = (players.iloc[0]/playercount)*100
otherplayers_perc = (players.iloc[2]/playercount)*100

genderdemo_df = pd.DataFrame([
    {"Description":"Male Players","Count": players.iloc[1],"Percentage": maleplayers_perc},
    {"Description":"Female Players","Count": players.iloc[0],"Percentage": femaleplayers_perc},
    {"Description":"Other Players","Count": players.iloc[2],"Percentage": otherplayers_perc}
])

format_mapping={'Percentage': '{:.2f}%'}
genderdemo_df.set_index('Description').reset_index()

Gender Demographics Summary:

      Description  Count  Percentage
0    Male Players    484       84.03
1  Female Players     81       14.06
2   Other Players     11        1.91

In [18]:
#Purchase Analysis (Gender)
print('--------------')
print('Purchase Analysis (Gender), Analysis:')
print('--------------')

Purchase_Count= df.groupby('Gender')['Price'].count()
Purchase_Count_set =Purchase_Count.reset_index(name='Total # Purchases')

--------------
Purchase Analysis (Gender), Analysis:
--------------

In [19]:
#Purchase Analysis (Gender): Avg Purchase Price
avgpurprice = df.groupby('Gender')['Price'].mean()
avgpurprice_set = avgpurprice.reset_index(name='Avg Purchase Price')

In [20]:
#Purchase Analysis (Gender): Total Purchase Value
ttlpurvalue = df.groupby('Gender')['Price'].sum()
ttlpurvalue_set = ttlpurvalue.reset_index(name= 'Total Purchase Value')

In [21]:
#Purchase Analysis (Gender): Avg Purchase Total per Gender
avpurttl = df.groupby('Gender')['Price'].sum()/df.groupby('Gender')['SN'].nunique()
avpurttl_set = avpurttl.reset_index(name="Avg. Purchase Total")

In [22]:
#Purchase Analysis (Gender): Final DataFrame 
purchase_anaysis_df = pd.merge(Purchase_Count_set,avgpurprice_set, how = 'outer', on="Gender")
purchase_anaysis_df_2 = pd.merge(purchase_anaysis_df,ttlpurvalue_set, how = 'outer', on="Gender")
purchase_anaysis_df_3 = pd.merge(purchase_anaysis_df_2,avpurttl_set, how = 'outer', on="Gender")
purchase_anaysis_df_3.head()

,Gender,Total # Purchases,Avg Purchase Price,Total Purchase Value,Avg. Purchase Total
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,"1,967.64",4.07
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [21]:
#Age Demographics

#create a new column that is filled with a description object based on the value in the age column
#I can create a filter for the age data, by setting an upper and lower limit
#the upper and lower limit can be a loop that I automate as a variable

In [29]:
#Top 5 spenders
#Top 5 Spenders: Identify Top Spenders:

print('Top 5 Spenders')
print('--------------')
spenders_df = df.groupby('SN')['Price'].sum().sort_values(ascending = False).reset_index(name='Total Purchase Value')
TotalPurchValue_df= spenders_df.iloc[0:5,0:2]

Top 5 Spenders
--------------

In [28]:
#Top 5 spenders: Average Purchase Price

spenders_analysis_df = df.groupby('SN')['Price'].count().sort_values(ascending = False).reset_index(name='Purchase Count')
Purchase_Count_df= spenders_analysis_df.iloc[0:5,0:2]

In [27]:
#Insert a new column in the orginal Purchase Price df to include the Avg. Purchase Price 
#Avg Purchase price is caculated by Total Purchase Value / Purchase Count

#to create a list of the variables for the dataframe
Avg_Purch_list= list(TotalPurchValue_df.iloc[0:5,1]/Purchase_Count_df.iloc[0:5,1])
SN_list= list(TotalPurchValue_df.iloc[0:5,0])

Average_Purch_Price_df=pd.DataFrame({"Avg. Purchase Price":Avg_Purch_list ,"SN":SN_list}).set_index('SN').reset_index()

In [26]:
#to merge dataframes
valueandcount_merg_df = pd.merge(TotalPurchValue_df,Purchase_Count_df, how = 'outer', on="SN")
top5spenders_df = pd.merge(valueandcount_merg_df,Average_Purch_Price_df, how = 'outer', on="SN")
top5spenders_df

            SN  Total Purchase Value  Purchase Count  Avg. Purchase Price
0    Lisosia93                 18.96            5.00                 3.79
1  Idastidru52                 15.45            4.00                 3.86
2   Chamjask73                 13.83             nan                 3.46
3       Iral74                 13.62            4.00                 4.54
4  Iskadarya95                 13.10             nan                 4.37
5       Aina42                   nan            3.00                  nan
6        Iri67                   nan            3.00                  nan

In [30]:
#Most Popular Items
#Identify Most Popular Items

print('Most Popular Items')
print('--------------')

Most Popular Items
--------------

In [31]:
#Table 1 of Item Name and Purchase Count 
listofpopulargames_df = df.groupby('Item Name')['Price'].count().sort_values(ascending = False).reset_index(name= "Purchase Count")
top5populargames_df= listofpopulargames_df.iloc[0:5,0:2]
top5populargames_df

                                      Item Name  Purchase Count
0                                  Final Critic              13
1  Oathbreaker, Last Hope of the Breaking Storm              12
2                                       Nirvana               9
3                                    Persuasion               9
4                          Fiery Glass Crusader               9

In [35]:
#list of popular games
namesofpopulargames = list(listofpopulargames_df.iloc[0:5,0])
namesofpopulargames

['Final Critic',
 'Oathbreaker, Last Hope of the Breaking Storm',
 'Nirvana',
 'Persuasion',
 'Fiery Glass Crusader']

In [58]:
#Filtered DF is by popular games - Table 2 of Item Names and ID#s

populargames_df = df.loc[df['Item Name'].isin(namesofpopulargames)]
populargames_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
2,2.00,Ithergue48,24,Male,92.00,Final Critic,4.88
18,18.00,Reunasu60,22,Female,82.00,Nirvana,4.90
24,24.00,Siala43,30,Male,141.00,Persuasion,3.19
25,25.00,Lisirra87,29,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
61,61.00,Jiskimya77,17,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
62,62.00,Yadaphos40,30,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
72,72.00,Marilsa69,25,Female,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
88,88.00,Laedallo55,30,Male,82.00,Nirvana,4.90
98,98.00,Chadossa89,23,Male,141.00,Persuasion,3.19
99,99.00,Haisrisuir60,23,Male,101.00,Final Critic,4.19
132,132.00,Inguron55,23,Male,145.00,Fiery Glass Crusader,4.58
202,202.00,Phistym51,37,Male,82.00,Nirvana,4.90
207,207.00,Sondastsda82,24,Male,145.00,Fiery Glass Crusader,4.58
222,222.00,Chamjask73,22,Female,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
240,240.00,Lirtastsda29,16,Male,82.00,Nirvana,4.90
247,247.00,Iskadarya95,20,Male,82.00,Nirvana,4.90
252,252.00,Tyaelo67,39,Male,92.00,Final Critic,4.88
261,261.00,Tyeosri53,24,Male,141.00,Persuasion,3.19
273,273.00,Phyali88,15,Female,92.00,Final Critic,4.88
274,274.00,Aerithllora36,29,Female,82.00,Nirvana,4.90
277,277.00,Ennalmol65,24,Male,92.00,Final Critic,4.88
329,329.00,Ceoral34,20,Male,145.00,Fiery Glass Crusader,4.58
411,411.00,Lisico81,10,Male,101.00,Final Critic,4.19
438,438.00,Qilunan34,23,Male,145.00,Fiery Glass Crusader,4.58
464,464.00,Rianistast50,22,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
474,474.00,Ina92,31,Male,145.00,Fiery Glass Crusader,4.58
504,504.00,Chamilsala65,23,Female,82.00,Nirvana,4.90
522,522.00,Meosridil82,18,Male,82.00,Nirvana,4.90
536,536.00,Siallylis44,20,Male,101.00,Final Critic,4.19
538,538.00,Chanadar44,25,Male,141.00,Persuasion,3.19
572,572.00,Yoishirrala98,17,Female,145.00,Fiery Glass Crusader,4.58
580,580.00,Tyida79,24,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
587,587.00,Assirra56,22,Male,141.00,Persuasion,3.19
590,590.00,Iathem87,20,Male,141.00,Persuasion,3.19
603,603.00,Lisosia93,25,Male,141.00,Persuasion,3.19
608,608.00,Leyirra83,24,Female,132.00,Persuasion,3.33
627,627.00,Arin32,25,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
651,651.00,Lirtilsa72,24,Male,132.00,Persuasion,3.33
658,658.00,Quilassa66,7,Female,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
666,666.00,Assilsan72,20,Female,82.00,Nirvana,4.90
683,683.00,Ialallo29,15,Female,145.00,Fiery Glass Crusader,4.58
706,706.00,Chanossanya44,20,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
712,712.00,Lisilsa62,25,Male,92.00,Final Critic,4.88
722,722.00,Ilarin91,22,Male,92.00,Final Critic,4.88
730,730.00,Aidaira26,30,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
741,741.00,Phiallylis33,19,Male,145.00,Fiery Glass Crusader,4.58
753,753.00,Frichirranya75,36,Male,178.00,"Oathbreaker, Last Hope of the Breaking Storm",4.23
767,767.00,Ilmol66,8,Female,92.00,Final Critic,4.88
768,768.00,Assassasta79,38,Male,92.00,Final Critic,4.88
769,769.00,Ilosian36,15,Male,145.00,Fiery Glass Crusader,4.58
774,774.00,Jiskjask80,11,Male,101.00,Final Critic,4.19
778,778.00,Sisur91,7,Male,101.00,Final Critic,4.19

In [59]:
totalpurchval_mostpopular = populargames_df.groupby('Item Name')['Price'].sum().reset_index(name = "Total Purchase Value")
totalpurchval_mostpopular

                                      Item Name  Total Purchase Value
0                          Fiery Glass Crusader                 41.22
1                                  Final Critic                 59.99
2                                       Nirvana                 44.10
3  Oathbreaker, Last Hope of the Breaking Storm                 50.76
4                                    Persuasion                 28.99

In [60]:
itemprice_mostpopular = populargames_df.groupby('Item Name')['Price'].mean().reset_index(name = "Average Purchase Price")
itemprice_mostpopular

                                      Item Name  Average Purchase Price
0                          Fiery Glass Crusader                    4.58
1                                  Final Critic                    4.61
2                                       Nirvana                    4.90
3  Oathbreaker, Last Hope of the Breaking Storm                    4.23
4                                    Persuasion                    3.22

In [65]:
count_itemid_mostpopular = populargames_df.groupby('Item Name')['Item ID'].nunique().reset_index(name = "Item ID")
count_itemid_mostpopular

                                      Item Name  Item ID
0                          Fiery Glass Crusader        1
1                                  Final Critic        2
2                                       Nirvana        1
3  Oathbreaker, Last Hope of the Breaking Storm        1
4                                    Persuasion        2

In [69]:
chkid_mostpopular = populargames_df.loc[populargames_df['Item Name'].isin(['Final Critic','Persuasion'])].sort_values(by = "Item Name")
chkid_mostpopular

     Purchase ID            SN  Age  Gender  Item ID     Item Name  Price
2           2.00    Ithergue48   24    Male    92.00  Final Critic   4.88
768       768.00  Assassasta79   38    Male    92.00  Final Critic   4.88
767       767.00       Ilmol66    8  Female    92.00  Final Critic   4.88
722       722.00      Ilarin91   22    Male    92.00  Final Critic   4.88
712       712.00     Lisilsa62   25    Male    92.00  Final Critic   4.88
774       774.00    Jiskjask80   11    Male   101.00  Final Critic   4.19
536       536.00   Siallylis44   20    Male   101.00  Final Critic   4.19
411       411.00      Lisico81   10    Male   101.00  Final Critic   4.19
778       778.00       Sisur91    7    Male   101.00  Final Critic   4.19
273       273.00      Phyali88   15  Female    92.00  Final Critic   4.88
252       252.00      Tyaelo67   39    Male    92.00  Final Critic   4.88
99         99.00  Haisrisuir60   23    Male   101.00  Final Critic   4.19
277       277.00    Ennalmol65   24    Male    92.00  Final Critic   4.88
261       261.00     Tyeosri53   24    Male   141.00    Persuasion   3.19
587       587.00     Assirra56   22    Male   141.00    Persuasion   3.19
590       590.00      Iathem87   20    Male   141.00    Persuasion   3.19
603       603.00     Lisosia93   25    Male   141.00    Persuasion   3.19
608       608.00     Leyirra83   24  Female   132.00    Persuasion   3.33
651       651.00    Lirtilsa72   24    Male   132.00    Persuasion   3.33
98         98.00    Chadossa89   23    Male   141.00    Persuasion   3.19
24         24.00       Siala43   30    Male   141.00    Persuasion   3.19
538       538.00    Chanadar44   25    Male   141.00    Persuasion   3.19

In [66]:
count_itemnm_mostpopular = populargames_df.groupby('Item ID')['Item Name'].nunique().reset_index(name = "Item Name")
count_itemnm_mostpopular

   Item ID  Item Name
0    82.00          1
1    92.00          1
2   101.00          1
3   132.00          1
4   141.00          1
5   145.00          1
6   178.00          1

In [62]:
#source[create a new column]: https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
#source[dloc by list]: https://stackoverflow.com/questions/45803676/python-pandas-loc-filter-for-list-of-values

In [314]:
#To confirm a unique Item ID per Item Name
#To highlight value greater than 1
print("Number of Item IDs per Item Name")
df_itemsvsitemid= df.groupby('Item Name')['Item ID'].nunique().reset_index(name= "# of Item IDs")
#df_itemsvsitemid_id= df_itemsvsitemid.subset=['# of Item IDs']
df_itemsvsitemid_summarized = df_itemsvsitemid.loc[df_itemsvsitemid['# of Item IDs'] > 1]
df_itemsvsitemid_summarized
#def color_red_over1(df_itemsvsitemid):
    #color= 'red' if df_itemsvsitemid > 1.0 else 'black'
   # return 'color: %s' % color
#def highlight_over1(df_itemsvsitemid):
#    return ['bacground-color: yellow' if df_itemsvsitemid > 1.0 else '']

#df_itemsvsitemid.style.\
  #  applymap(color_red_over1, subset=['# of Item IDs']).\
   # applymap(highlight_over1, subset=['# of Item IDs'])

Number of Item IDs per Item Name

        Item Name  # of Item IDs
28       Crucifer              2
56   Final Critic              2
98     Persuasion              2
137   Stormcaller              2

In [315]:
#source[unqiue values per group]:https://stackoverflow.com/questions/41415017/count-unique-values-using-pandas-groupby

In [316]:
#to create a dataframe to review the item Ids for "Crucifer"
print("Table of Item IDs for Item Name: Crucifer")
cruciferIDs_df=df.loc[df['Item Name'] == 'Crucifer']
cruciferIDs_df

Table of Item IDs for Item Name: Crucifer

     Purchase ID              SN  Age  Gender  Item ID Item Name  Price
121       121.00        Ilosia37   23    Male     1.00  Crucifer   3.26
251       251.00         Iasur80   22    Male    23.00  Crucifer   1.99
454       454.00      Lassimla92   25    Male     1.00  Crucifer   3.26
697       697.00  Tyaelistidru84   19  Female     1.00  Crucifer   3.26

In [317]:
print("Table of Discounted Items")
df_statsbyItem =round(df.groupby('Item Name')['Price'].describe().reset_index(),2).fillna(0)
df_statsbyItem_std = df_statsbyItem.loc[df_statsbyItem['std'] > .01]
df_statsbyItem_std

Table of Discounted Items

        Item Name  count  mean  std  min  25%  50%  75%  max
28       Crucifer   4.00  2.94 0.63 1.99 2.94 3.26 3.26 3.26
56   Final Critic  13.00  4.61 0.35 4.19 4.19 4.88 4.88 4.88
98     Persuasion   9.00  3.22 0.06 3.19 3.19 3.19 3.19 3.33
137   Stormcaller   3.00  2.59 0.66 2.21 2.21 2.21 2.78 3.36

In [318]:
#to review is Item ID # 23.0 is also for a another product
#maybe it was a misclassfication?
print("Table of Items with an 'Item ID' of 23")

itemid23_df=df.loc[df['Item ID'] == 23]
itemid23_df

Table of Items with an 'Item ID' of 23

     Purchase ID       SN  Age Gender  Item ID Item Name  Price
251       251.00  Iasur80   22   Male    23.00  Crucifer   1.99

In [319]:
print('Since item 23 is only for Crucifer, it appears to be about a 40% discount value')
print("Before I rename the Item Name for Item ID '23.0' I will check to see if other items had discounted items but with the same id #") 
print("If so, then we will change the id # rather than the name")

Since item 23 is only for Crucifer, it appears to be about a 40% discount value
Before I rename the Item Name for Item ID '23.0' I will check to see if other items had discounted items but with the same id #
If so, then we will change the id # rather than the name

In [320]:
#def highlight_over0(df_statsbyItem, color='yellow'):
    #highlight a value greater than 0
   # print(df_statsbyItem)
   # attr= 'background-color: {}'.format(color)
  #  if (df_statsbyItem['std']>.01):
    #    highlight_over0 = df_statsbyItem == (df_statsbyItem['std']>.01)
    #    return [attr if (df_statsbyItem['std']>.01) else '' for df_statsbyItem in highlight_over0]
   # else:
      #  return [attr if df_statsbyItem(['std']>.01) else '' for df_statsbyItem in highlight_over0]

In [321]:
#res = df_statsbyItem.style.apply(highlight_over0, color= 'yellow', subset=['std'])
#res

In [322]:
#statistic summary on item name and prices
#to see products were purchased at discount
print("Table of Discounted Items")
df_statsbyItem =round(df.groupby('Item Name')['Price'].describe().reset_index(),2).fillna(0)
df_statsbyItem_std = df_statsbyItem.loc[df_statsbyItem['std'] > .01]
df_statsbyItem_std

Table of Discounted Items

        Item Name  count  mean  std  min  25%  50%  75%  max
28       Crucifer   4.00  2.94 0.63 1.99 2.94 3.26 3.26 3.26
56   Final Critic  13.00  4.61 0.35 4.19 4.19 4.88 4.88 4.88
98     Persuasion   9.00  3.22 0.06 3.19 3.19 3.19 3.19 3.33
137   Stormcaller   3.00  2.59 0.66 2.21 2.21 2.21 2.78 3.36

In [323]:
print("We will rename Item ID 23 since this discount seems normal. The ID code should have remained the same.")
#It could be an error in the sytem or a new disc code.

df_rev1= df.loc[df['Item ID'] == 23].replace([23],1) 
df_rev1

We will rename Item ID 23 since this discount seems normal. The ID code should have remained the same.

     Purchase ID       SN  Age Gender  Item ID Item Name  Price
251       251.00  Iasur80   22   Male     1.00  Crucifer   1.99

In [ ]:
#source:https://stackoverflow.com/questions/52224142/pandas-conditionally-replace-values-based-on-other-columns-values

In [266]:
#to count the number of Items ID purchased per SN
df_numofitemspur= df.groupby('SN')['Item ID'].nunique().sort_values(ascending = False).reset_index(name= "Total Purchased Products")

In [ ]:
#source[Name a df column]: https://stackoverflow.com/questions/29836477/pandas-create-new-column-with-count-from-groupby

In [59]:
df_numofitemsbySN= df_numofitemspur.groupby('Total Purchased Products').count().sort_values(by="SN", ascending = False)
df_numofitemsbySN

                           SN
Total Purchased Products
1                         414
2                         124
3                          35
4                           2
5                           1

In [34]:
#source[summarystatisticsbygroup]:https://datascience.stackexchange.com/questions/22266/summary-statistics-by-category-using-python

In [ ]:
#statistic summary on Gender and Age