In [10]:
import pandas as pd
import numpy as np

In [11]:
filepath = './HeroesOfPymoli_Resources_purchase_data.csv'

In [12]:
df = pd.read_csv(filepath,encoding="ISO-8859-1")

In [13]:
#preview of DataFrame
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
#identify complete rows
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [16]:
#review the column types
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [27]:
#To confirm a unique Item ID per Item Name
df.groupby('Item Name')['Item ID'].nunique()

Item Name
Abyssal Shard                               1
Aetherius, Boon of the Blessed              1
Agatha                                      1
Alpha                                       1
Alpha, Oath of Zeal                         1
Alpha, Reach of Ending Hope                 1
Amnesia                                     1
Apocalyptic Battlescythe                    1
Arcane Gem                                  1
Avenger                                     1
Azurewrath                                  1
Betrayal, Whisper of Grieving Widows        1
Betrayer                                    1
Blade of the Grave                          1
Blazefury, Protector of Delusions           1
Blazeguard, Reach of Eternity               1
Blindscythe                                 1
Blood Infused Guardian                      1
Blood-Forged Skeletal Spine                 1
Bloodlord's Fetish                          1
Bone Crushing Silver Skewer                 1
Bonecarvin Battle Axe                       1
Brimstone                                   1
Brutality Ivory Warmace                     1
Celeste                                     1
Celeste, Incarnation of the Corrupted       1
Chaos, Ender of the End                     1
Conqueror Adamantite Mace                   1
Crucifer                                    2
Crying Steel Sickle                         1
                                           ..
Thorn, Conqueror of the Corrupted           1
Thorn, Satchel of Dark Souls                1
Thunderfury Scimitar                        1
Toothpick                                   1
Torchlight, Bond of Storms                  1
Tranquility, Razor of Black Magic           1
Trickster                                   1
Twilight's Carver                           1
Undead Crusader                             1
Unending Tyranny                            1
Unholy Wand                                 1
Vengeance Cleaver                           1
Venom Claymore                              1
Verdict                                     1
Victor Iron Spikes                          1
Vindictive Glass Edge                       1
War-Forged Gold Deflector                   1
Warmonger, Gift of Suffering's End          1
Warped Diamond Crusader                     1
Warped Fetish                               1
Warped Iron Scimitar                        1
Whistling Mithril Warblade                  1
Winter's Bite                               1
Winterthorn, Defender of Shifting Worlds    1
Woeful Adamantite Claymore                  1
Wolf                                        1
Wolf, Promise of the Moonwalker             1
Worldbreaker                                1
Yearning Crusher                            1
Yearning Mageblade                          1
Name: Item ID, Length: 179, dtype: int64

In [ ]:
#source[unqiue values per group]:https://stackoverflow.com/questions/41415017/count-unique-values-using-pandas-groupby

In [60]:
#to count the diversity of ages per gender 
df_demographicdiversity= df.groupby('Gender')['Age'].nunique()
df_demographicdiversity

Gender
Female                   22
Male                     39
Other / Non-Disclosed     8
Name: Age, dtype: int64

In [50]:
#to count the number of Items ID purchased per SN
df_numofitemspur= df.groupby('SN')['Item ID'].nunique().sort_values(ascending = False).reset_index(name= "Total Purchased Products")
df_numofitemspur

               SN  Total Purchased Products
0       Lisosia93                         5
1          Iral74                         4
2     Idastidru52                         4
3          Aina42                         3
4           Iri67                         3
5      Chamjask73                         3
6     Iskadarya95                         3
7        Phyali88                         3
8    Chanastnya43                         3
9       Silaera56                         3
10     Lisopela58                         3
11   Haillyrgue51                         3
12   Pheodaisun84                         3
13         Hada39                         3
14    Siallylis44                         3
15     Umolrian85                         3
16       Tyisur83                         3
17       Phaena87                         3
18      Tyidaim51                         3
19   Lassilsala30                         3
20   Sondastsda82                         3
21    Strithenu87                         3
22      Inguron55                         3
23      Zontibe81                         3
24       Raesty92                         3
25    Chadolyla44                         3
26         Asur53                         3
27        Lisim78                         3
28   Saistyphos30                         3
29       Ilarin91                         3
..            ...                       ...
546       Malil90                         1
547   Lirtastan49                         1
548    Lisiriya82                         1
549    Lirtilsa71                         1
550      Lirtim36                         1
551    Lirtirra37                         1
552    Lirtirra81                         1
553     Lisadar44                         1
554     Lisassa64                         1
555   Lisassala98                         1
556  Lisassasda39                         1
557  Lisassasta50                         1
558      Lisast98                         1
559      Lisico81                         1
560     Lisilsa62                         1
561     Lisirra25                         1
562   Malarrian73                         1
563     Lisirra58                         1
564     Lisirra87                         1
565     Lisista27                         1
566     Lisista63                         1
567   Lisjaskan36                         1
568   Lisjaskya84                         1
569     Lisosia66                         1
570     Lisossa46                         1
571   Lisossala30                         1
572  Lisossanya98                         1
573   Lisotesta51                         1
574   Lisovynya38                         1
575  Adairialis76                         1

[576 rows x 2 columns]

In [ ]:
#source[Name a df column]: https://stackoverflow.com/questions/29836477/pandas-create-new-column-with-count-from-groupby

In [59]:
df_numofitemsbySN= df_numofitemspur.groupby('Total Purchased Products').count().sort_values(by="SN", ascending = False)
df_numofitemsbySN

                           SN
Total Purchased Products
1                         414
2                         124
3                          35
4                           2
5                           1

In [61]:
#statistic summary on Gender and Age
df_statsbyGenderAge= round(df.groupby('Gender')['Age'].describe().reset_index(),0)
df_statsbyGenderAge

                  Gender  count  mean  std   min   25%   50%   75%   max
0                 Female  113.0  21.0  6.0   7.0  18.0  21.0  24.0  40.0
1                   Male  652.0  23.0  7.0   7.0  20.0  22.0  25.0  45.0
2  Other / Non-Disclosed   15.0  24.0  8.0  15.0  18.0  21.0  30.0  38.0

In [34]:
#source[summarystatisticsbygroup]:https://datascience.stackexchange.com/questions/22266/summary-statistics-by-category-using-python

In [62]:
#statistic summary on item name and prices
df_statsbyItem =round(df.groupby('Item Name')['Price'].describe().reset_index(),2)
df_statsbyItem

,Item Name,count,mean,std,min,25%,50%,75%,max
0,Abyssal Shard,5.0,2.67,0.00,2.67,2.67,2.67,2.67,2.67
1,"Aetherius, Boon of the Blessed",5.0,3.39,0.00,3.39,3.39,3.39,3.39,3.39
2,Agatha,6.0,3.08,0.00,3.08,3.08,3.08,3.08,3.08
3,Alpha,3.0,2.07,0.00,2.07,2.07,2.07,2.07,2.07
4,"Alpha, Oath of Zeal",3.0,4.05,0.00,4.05,4.05,4.05,4.05,4.05
5,"Alpha, Reach of Ending Hope",1.0,3.58,NaN,3.58,3.58,3.58,3.58,3.58
6,Amnesia,6.0,2.18,0.00,2.18,2.18,2.18,2.18,2.18
7,Apocalyptic Battlescythe,6.0,1.97,0.00,1.97,1.97,1.97,1.97,1.97
8,Arcane Gem,3.0,3.79,0.00,3.79,3.79,3.79,3.79,3.79
9,Avenger,6.0,3.44,0.00,3.44,3.44,3.44,3.44,3.44
10,Azurewrath,6.0,4.40,0.00,4.40,4.40,4.40,4.40,4.40
11,"Betrayal, Whisper of Grieving Widows",5.0,3.94,0.00,3.94,3.94,3.94,3.94,3.94
12,Betrayer,1.0,2.94,NaN,2.94,2.94,2.94,2.94,2.94
13,Blade of the Grave,4.0,3.14,0.00,3.14,3.14,3.14,3.14,3.14
14,"Blazefury, Protector of Delusions",3.0,4.64,0.00,4.64,4.64,4.64,4.64,4.64
15,"Blazeguard, Reach of Eternity",5.0,4.91,0.00,4.91,4.91,4.91,4.91,4.91
16,Blindscythe,5.0,3.27,0.00,3.27,3.27,3.27,3.27,3.27
17,Blood Infused Guardian,6.0,1.94,0.00,1.94,1.94,1.94,1.94,1.94
18,Blood-Forged Skeletal Spine,6.0,3.09,0.00,3.09,3.09,3.09,3.09,3.09
19,Bloodlord's Fetish,5.0,1.70,0.00,1.70,1.70,1.70,1.70,1.70
20,Bone Crushing Silver Skewer,4.0,4.86,0.00,4.86,4.86,4.86,4.86,4.86
21,Bonecarvin Battle Axe,5.0,2.38,0.00,2.38,2.38,2.38,2.38,2.38
22,Brimstone,5.0,3.65,0.00,3.65,3.65,3.65,3.65,3.65
23,Brutality Ivory Warmace,8.0,2.42,0.00,2.42,2.42,2.42,2.42,2.42
24,Celeste,1.0,4.17,NaN,4.17,4.17,4.17,4.17,4.17
25,"Celeste, Incarnation of the Corrupted",4.0,3.46,0.00,3.46,3.46,3.46,3.46,3.46
26,"Chaos, Ender of the End",5.0,1.98,0.00,1.98,1.98,1.98,1.98,1.98
27,Conqueror Adamantite Mace,5.0,4.24,0.00,4.24,4.24,4.24,4.24,4.24
28,Crucifer,4.0,2.94,0.63,1.99,2.94,3.26,3.26,3.26
29,Crying Steel Sickle,3.0,3.41,0.00,3.41,3.41,3.41,3.41,3.41
...,...,...,...,...,...,...,...,...,...
149,"Thorn, Conqueror of the Corrupted",4.0,2.73,0.00,2.73,2.73,2.73,2.73,2.73
150,"Thorn, Satchel of Dark Souls",7.0,1.33,0.00,1.33,1.33,1.33,1.33,1.33
151,Thunderfury Scimitar,5.0,3.45,0.00,3.45,3.45,3.45,3.45,3.45
152,Toothpick,3.0,4.03,0.00,4.03,4.03,4.03,4.03,4.03
153,"Torchlight, Bond of Storms",2.0,4.65,0.00,4.65,4.65,4.65,4.65,4.65
154,"Tranquility, Razor of Black Magic",5.0,1.75,0.00,1.75,1.75,1.75,1.75,1.75
155,Trickster,2.0,1.55,0.00,1.55,1.55,1.55,1.55,1.55
156,Twilight's Carver,4.0,2.28,0.00,2.28,2.28,2.28,2.28,2.28
157,Undead Crusader,1.0,4.50,NaN,4.50,4.50,4.50,4.50,4.50
158,Unending Tyranny,3.0,2.85,0.00,2.85,2.85,2.85,2.85,2.85
159,Unholy Wand,2.0,1.12,0.00,1.12,1.12,1.12,1.12,1.12
160,Vengeance Cleaver,7.0,2.05,0.00,2.05,2.05,2.05,2.05,2.05
161,Venom Claymore,4.0,1.29,0.00,1.29,1.29,1.29,1.29,1.29
162,Verdict,6.0,2.48,0.00,2.48,2.48,2.48,2.48,2.48
163,Victor Iron Spikes,4.0,4.40,0.00,4.40,4.40,4.40,4.40,4.40
164,Vindictive Glass Edge,3.0,2.27,0.00,2.27,2.27,2.27,2.27,2.27
165,War-Forged Gold Deflector,5.0,1.01,0.00,1.01,1.01,1.01,1.01,1.01
166,"Warmonger, Gift of Suffering's End",3.0,4.03,0.00,4.03,4.03,4.03,4.03,4.03
167,Warped Diamond Crusader,3.0,1.40,0.00,1.40,1.40,1.40,1.40,1.40
168,Warped Fetish,5.0,3.81,0.00,3.81,3.81,3.81,3.81,3.81
169,Warped Iron Scimitar,5.0,3.10,0.00,3.10,3.10,3.10,3.10,3.10
170,Whistling Mithril Warblade,2.0,1.00,0.00,1.00,1.00,1.00,1.00,1.00
171,Winter's Bite,8.0,3.77,0.00,3.77,3.77,3.77,3.77,3.77
172,"Winterthorn, Defender of Shifting Worlds",2.0,2.08,0.00,2.08,2.08,2.08,2.08,2.08
173,Woeful Adamantite Claymore,3.0,4.48,0.00,4.48,4.48,4.48,4.48,4.48
174,Wolf,8.0,3.54,0.00,3.54,3.54,3.54,3.54,3.54
175,"Wolf, Promise of the Moonwalker",6.0,4.48,0.00,4.48,4.48,4.48,4.48,4.48
176,Worldbreaker,4.0,2.60,0.00,2.60,2.60,2.60,2.60,2.60
177,Yearning Crusher,3.0,4.18,0.00,4.18,4.18,4.18,4.18,4.18
178,Yearning Mageblade,5.0,3.82,0.00,3.82,3.82,3.82,3.82,3.82

In [ ]:
#statistic summary on Gender and Age