In [302]:
import pandas as pd
import numpy as np

In [303]:
filepath = './HeroesOfPymoli_Resources_purchase_data.csv'

In [304]:
df = pd.read_csv(filepath,encoding="ISO-8859-1")

In [305]:
#preview of DataFrame
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44
5,5,Yalae81,22,Male,81,Dreamkiss,$3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",$2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,$2.67
8,8,Undjask33,22,Male,21,Souleater,$1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,$3.58

In [306]:
#identify complete rows
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [307]:
#review the column types
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [308]:
#change item id from Int64 to float64
df['Item ID'] = pd.to_numeric(df['Item ID'], downcast= 'float')
df['Purchase ID'] =pd.to_numeric(df['Purchase ID'], downcast= 'float')

df.dtypes

Purchase ID    float32
SN              object
Age              int64
Gender          object
Item ID        float32
Item Name       object
Price          float64
dtype: object

In [397]:
print('--------------')
print('Total Player Count')
print('-----')
playercount =df['SN'].nunique()
playercount

--------------
Total Player Count
-----

576

In [396]:
print('--------------')
print('Purchasing Analysis (Total)')
print('--------------')

pd.options.display.float_format = '{:,.2f}'.format
numofuniqueitems_df = round(df['Item Name'].nunique(),1)
#I know there is 2 item ids for 1 item , which I show later in the analysis. thus I used item name

avgpurchprice_df =round(df['Price'].mean(),1)
#avgpurchprice_df .rename(columns={'':'Average Purchase Price'})

ttlnumofpurchases_df = round(df['Purchase ID'].count(),1)
#ttlnumofpurchases_df.rename(columns={'': 'Total Number of Purchases'})

totalrev_df = round(df['Price'].sum(),1)
#totalrev_df.rename(columns={'': 'Total Revenue'})

#merge our data frames together
Purchasing_Analysis_df= pd.DataFrame({"Number of Unique Items": [numofuniqueitems_df], "Average Purchase Price":[avgpurchprice_df],"Total Number of Purchases": [ttlnumofpurchases_df],"Total Revenue":[totalrev_df]})
Purchasing_Analysis_df

--------------
Purchasing Analysis (Total)
--------------

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.10,780,"2,379.80"

In [395]:
#statistic summary on Gender and Age
print('--------------')
print('Gender and Age Statistics')
print('--------------')

df_statsbyGenderAge= round(df.groupby('Gender')['Age'].describe().reset_index(),0)
df_statsbyGenderAge

--------------
Gender and Age Statistics
--------------

                  Gender  count  mean  std   min   25%   50%   75%   max
0                 Female 113.00 21.00 6.00  7.00 18.00 21.00 24.00 40.00
1                   Male 652.00 23.00 7.00  7.00 20.00 22.00 25.00 45.00
2  Other / Non-Disclosed  15.00 24.00 8.00 15.00 18.00 21.00 30.00 38.00

In [391]:
#Gender demographics
print('--------------')
print('Gender Demographics')
print('--------------')

print('Gender Summary Table:')
players = df.groupby('Gender')['SN'].nunique()
maleplayers_perc = players.iloc[1]

maleplayers.reset_index(name= '# of Players')

--------------
Gender Demographics
--------------
Gender Summary Table:

                  Gender  # of Players
0                 Female            81
1                   Male           484
2  Other / Non-Disclosed            11

In [392]:
#to get the values for Gender Summary Table

print('Gender Demographics Summary:')
maleplayers_perc = ((players.iloc[1]/playercount)*100)
femaleplayers_perc = (players.iloc[0]/playercount)*100
otherplayers_perc = (players.iloc[2]/playercount)*100

genderdemo_df = pd.DataFrame([
    {"Description":"Male Players","Count": players.iloc[1],"Percentage": maleplayers_perc},
    {"Description":"Female Players","Count": players.iloc[0],"Percentage": femaleplayers_perc},
    {"Description":"Other Players","Count": players.iloc[2],"Percentage": otherplayers_perc}
])

format_mapping={'Percentage': '{:.2f}%'}
genderdemo_df.set_index('Description').reset_index()

Gender Demographics Summary:

      Description  Count  Percentage
0    Male Players    484       84.03
1  Female Players     81       14.06
2   Other Players     11        1.91

In [393]:
#Purchase Analysis (Gender)
print('--------------')
print('Purchase Analysis (Gender)')
print('--------------')

Purchase_Count= df.groupby('Gender')['Price'].count()
Purchase_Count.reset_index(name='Total # Purchases')

--------------
Purchase Analysis (Gender)
--------------

                  Gender  Total # Purchases
0                 Female                113
1                   Male                652
2  Other / Non-Disclosed                 15

In [376]:
#Purchase Analysis (Gender): Avg Purchase Price

avgpurprice = df.groupby('Gender')['Price'].mean()
avgpurprice.reset_index(name='Avg Purchase Price')

                  Gender  Avg Purchase Price
0                 Female                3.20
1                   Male                3.02
2  Other / Non-Disclosed                3.35

In [379]:
#Purchase Analysis (Gender): Total Purchase Value

ttlpurvalue = df.groupby('Gender')['Price'].sum()
ttlpurvalue.reset_index(name= 'Total Purchase Value')

                  Gender  Total Purchase Value
0                 Female                361.94
1                   Male              1,967.64
2  Other / Non-Disclosed                 50.19

In [383]:
#Purchase Analysis (Gender): Avg Purchase Total per Gender

avpurttl = df.groupby('Gender')['Price'].sum()/df.groupby('Gender')['SN'].nunique()
avpurttl.reset_index(name="Avg. Purchase Total")

                  Gender  Avg. Purchase Total
0                 Female                 4.47
1                   Male                 4.07
2  Other / Non-Disclosed                 4.56

In [314]:
#To confirm a unique Item ID per Item Name
#To highlight value greater than 1
print("Number of Item IDs per Item Name")
df_itemsvsitemid= df.groupby('Item Name')['Item ID'].nunique().reset_index(name= "# of Item IDs")
#df_itemsvsitemid_id= df_itemsvsitemid.subset=['# of Item IDs']
df_itemsvsitemid_summarized = df_itemsvsitemid.loc[df_itemsvsitemid['# of Item IDs'] > 1]
df_itemsvsitemid_summarized
#def color_red_over1(df_itemsvsitemid):
    #color= 'red' if df_itemsvsitemid > 1.0 else 'black'
   # return 'color: %s' % color
#def highlight_over1(df_itemsvsitemid):
#    return ['bacground-color: yellow' if df_itemsvsitemid > 1.0 else '']

#df_itemsvsitemid.style.\
  #  applymap(color_red_over1, subset=['# of Item IDs']).\
   # applymap(highlight_over1, subset=['# of Item IDs'])

Number of Item IDs per Item Name

        Item Name  # of Item IDs
28       Crucifer              2
56   Final Critic              2
98     Persuasion              2
137   Stormcaller              2

In [315]:
#source[unqiue values per group]:https://stackoverflow.com/questions/41415017/count-unique-values-using-pandas-groupby

In [316]:
#to create a dataframe to review the item Ids for "Crucifer"
print("Table of Item IDs for Item Name: Crucifer")
cruciferIDs_df=df.loc[df['Item Name'] == 'Crucifer']
cruciferIDs_df

Table of Item IDs for Item Name: Crucifer

     Purchase ID              SN  Age  Gender  Item ID Item Name  Price
121       121.00        Ilosia37   23    Male     1.00  Crucifer   3.26
251       251.00         Iasur80   22    Male    23.00  Crucifer   1.99
454       454.00      Lassimla92   25    Male     1.00  Crucifer   3.26
697       697.00  Tyaelistidru84   19  Female     1.00  Crucifer   3.26

In [317]:
print("Table of Discounted Items")
df_statsbyItem =round(df.groupby('Item Name')['Price'].describe().reset_index(),2).fillna(0)
df_statsbyItem_std = df_statsbyItem.loc[df_statsbyItem['std'] > .01]
df_statsbyItem_std

Table of Discounted Items

        Item Name  count  mean  std  min  25%  50%  75%  max
28       Crucifer   4.00  2.94 0.63 1.99 2.94 3.26 3.26 3.26
56   Final Critic  13.00  4.61 0.35 4.19 4.19 4.88 4.88 4.88
98     Persuasion   9.00  3.22 0.06 3.19 3.19 3.19 3.19 3.33
137   Stormcaller   3.00  2.59 0.66 2.21 2.21 2.21 2.78 3.36

In [318]:
#to review is Item ID # 23.0 is also for a another product
#maybe it was a misclassfication?
print("Table of Items with an 'Item ID' of 23")

itemid23_df=df.loc[df['Item ID'] == 23]
itemid23_df

Table of Items with an 'Item ID' of 23

     Purchase ID       SN  Age Gender  Item ID Item Name  Price
251       251.00  Iasur80   22   Male    23.00  Crucifer   1.99

In [319]:
print('Since item 23 is only for Crucifer, it appears to be about a 40% discount value')
print("Before I rename the Item Name for Item ID '23.0' I will check to see if other items had discounted items but with the same id #") 
print("If so, then we will change the id # rather than the name")

Since item 23 is only for Crucifer, it appears to be about a 40% discount value
Before I rename the Item Name for Item ID '23.0' I will check to see if other items had discounted items but with the same id #
If so, then we will change the id # rather than the name

In [320]:
#def highlight_over0(df_statsbyItem, color='yellow'):
    #highlight a value greater than 0
   # print(df_statsbyItem)
   # attr= 'background-color: {}'.format(color)
  #  if (df_statsbyItem['std']>.01):
    #    highlight_over0 = df_statsbyItem == (df_statsbyItem['std']>.01)
    #    return [attr if (df_statsbyItem['std']>.01) else '' for df_statsbyItem in highlight_over0]
   # else:
      #  return [attr if df_statsbyItem(['std']>.01) else '' for df_statsbyItem in highlight_over0]

In [321]:
#res = df_statsbyItem.style.apply(highlight_over0, color= 'yellow', subset=['std'])
#res

In [322]:
#statistic summary on item name and prices
#to see products were purchased at discount
print("Table of Discounted Items")
df_statsbyItem =round(df.groupby('Item Name')['Price'].describe().reset_index(),2).fillna(0)
df_statsbyItem_std = df_statsbyItem.loc[df_statsbyItem['std'] > .01]
df_statsbyItem_std

Table of Discounted Items

        Item Name  count  mean  std  min  25%  50%  75%  max
28       Crucifer   4.00  2.94 0.63 1.99 2.94 3.26 3.26 3.26
56   Final Critic  13.00  4.61 0.35 4.19 4.19 4.88 4.88 4.88
98     Persuasion   9.00  3.22 0.06 3.19 3.19 3.19 3.19 3.33
137   Stormcaller   3.00  2.59 0.66 2.21 2.21 2.21 2.78 3.36

In [323]:
print("We will rename Item ID 23 since this discount seems normal. The ID code should have remained the same.")
#It could be an error in the sytem or a new disc code.

df_rev1= df.loc[df['Item ID'] == 23].replace([23],1) 
df_rev1

We will rename Item ID 23 since this discount seems normal. The ID code should have remained the same.

     Purchase ID       SN  Age Gender  Item ID Item Name  Price
251       251.00  Iasur80   22   Male     1.00  Crucifer   1.99

In [ ]:
#source:https://stackoverflow.com/questions/52224142/pandas-conditionally-replace-values-based-on-other-columns-values

In [266]:
#to count the number of Items ID purchased per SN
df_numofitemspur= df.groupby('SN')['Item ID'].nunique().sort_values(ascending = False).reset_index(name= "Total Purchased Products")

In [ ]:
#source[Name a df column]: https://stackoverflow.com/questions/29836477/pandas-create-new-column-with-count-from-groupby

In [59]:
df_numofitemsbySN= df_numofitemspur.groupby('Total Purchased Products').count().sort_values(by="SN", ascending = False)
df_numofitemsbySN

                           SN
Total Purchased Products
1                         414
2                         124
3                          35
4                           2
5                           1

In [34]:
#source[summarystatisticsbygroup]:https://datascience.stackexchange.com/questions/22266/summary-statistics-by-category-using-python

In [ ]:
#statistic summary on Gender and Age